<th class="bulk-actions-checkbox-cell">
  <label style="line-height: 0;">
    <%= render 'shared/fields/option', method: :bulk_actions_select_all, single_check_box: true, append_class: '-mt-1',
      options: {
        value: 'select_all',
        checked: false,
        data: { 'bulk-actions-target': 'selectAllCheckbox', 'action': 'bulk-actions#selectAllOrNone' }
      }
    %>
    <span class="hidden"
      data-bulk-actions-target="selectAllLabel"
      data-controller="text-toggle"
      data-text-toggle-label-value="Select All"
      data-text-toggle-label-alternate-value="Select None"
      data-text-toggle-use-alternate-value="false"
      data-action="bulk-actions:toggle-select-all-label->text-toggle#toggle"
    >Select All</span>
  </label>
</th>
