<% tangible_thing = @tangible_thing %>
<% context ||= tangible_thing %>
<% collection ||= :targets_one_actions %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% targets_one_actions = targets_one_actions.order("scheduled_for DESC, created_at DESC") %>

<%= updates_for context, collection do %>
  <% if targets_one_actions.any? %>
    <div class="border-t">
      <%= render 'account/shared/box', no_background: true, title_size: "text-base" do |p| %>
        <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
        <% p.content_for :description do %>
          <%= t(".contexts.#{context.class.name.underscore}.description") %>
        <% end %>

        <% p.content_for :table do %>
          <div class="divide-y divide-gray-900 divide-opacity-5 border-t">
            <% targets_one_actions.each do |targets_one_action| %>
              <%= render "shared/actions/action", action: targets_one_action %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
